# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: ["development"]
  pull_request:
    branches: ["development"]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: |
          export REACT_APP_API_BASE_URL=${{ secrets.REACT_APP_API_BASE_URL }}
          export REACT_APP_API_WILAYAH=${{ secrets.REACT_APP_API_WILAYAH }}
          npm run build && npm run install --production --ignore-scripts --prefer-offline
    #  - run: npm run build --if-present
    #  - run: npm ci
    # - run: npm test
